# /lib/systemd/system/sendsecure-std_smtp.service:
# to enable: sudo systemctl enable sendsecure-auth_smtp.service

[Unit]
Description=Job that runs the smtp daemon

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/sendsecure-smtp
ExecStart=/usr/bin/script -q -c "/usr/bin/python3 std_smtpd.py"

[Install]
WantedBy=network-online.target

