.mailHead {
	width: 80%;
}

.mailHead p {
	margin: 2px;
}

.mailHead .vars {
	display: inline-block;
	width: 100px;
	margin-left: 100px;
}

.options span + span::before {
	content: "|";
	padding-right: 5px;
	padding-left: 5px;
}

.options span:nth-child(1)::before {
	content: none;
	padding-right: 0px;
}

.options span:nth-child(2)::before {
	content: none;
	padding-right: 0px;
}

.mailBody {
	width: 80%;
}
