@import 'desktop.common.css';
@import 'read.common.css';

@media print {
	.mailHead .vars {
		margin-left: 50px;
	}
	.mailHead {
		width: 100%;
	}
	.mailHead .options {
		display: none;
	}
	.mailBody {
		width: 100%;
	}
}