@import 'mobile.common.css';
@import 'reply.common.css';

.mailHead p {
	display: block;
	margin-bottom: 10px;
}

.mailHead p span {
	margin-left: 5px;
}

.mailBody .mailMessage {
	display: inline-block;
	max-width: 98%;
	word-wrap: break-word;
	padding-left: 1%;
	padding-right: 1%;
}
