@import 'desktop.common.css';
@import 'reply.common.css';

#attach-names div {
	display: inline-block;
}

#attach-names div + div::before {
	content: " | ";
}

#attach-names div:nth-child(1)::before {
	content: "";
}

