RewriteEngine On

RewriteCond %{HTTPS} off
# First rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included, if not
# the subsequent rule will catch it.
RewriteRule .* https://sendsecure.org%{REQUEST_URI} [L,R=301]

# Now, rewrite any request to the wrong domain to use www.
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule .* https://www.sendsecure.org%{REQUEST_URI} [L,R=301]

php_flag display_startup_errors on
php_flag display_errors on

php_value post_max_size 34M
php_value upload_max_filesize 34M

php_value memory_limit 256M