.mailHead {
	font-family: 'Lucida Sans Unicode','Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 13px;
	background-color: rgb(244,244,244);
	border: 1px solid lightgrey;
	width: 98%;
	margin: auto;
}

#editor-print {
	display: none;
}

.mailHead span {
	display: inline-block;
}
.mailHead .vars {
	vertical-align: top;
	display: block;
	font-weight: bold;
	margin-left: 5px;
	color: rgb(153,153,153);

}
.mailHead p {
	display: block;
	margin-bottom: 10px;
}

.mailHead p span {
	margin-left: 5px;
}

.options span {
	display: block;
	margin-bottom: 10px;
}

.mailBody {
	border: 1px solid lightgrey;
	width: 98%;
	margin: auto;
	margin-top: 15px;
}
.mailBody .mailMessage {
	display: inline-block;
	max-width: 98%;
	word-wrap: break-word;
	padding-left: 1%;
	padding-right: 1%;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

@media print {

	#editor {
		display: none;
	}
	
	#editor-print {
		display: block;
		word-wrap: break-word;
	}
	
	#editor-print p {
		padding-left: 1%;
		padding-right: 1%;
	}
	
	.mailHead .vars {
		margin-left: 50px;
	}
	.mailHead {
		width: 100%;
	}
	.mailHead .options {
		display: none;
	}
	.mailBody {
		width: 100%;
	}
}